# ==========================================
# 1. Database (MongoDB)
# ==========================================
# Local Development (Default comment these out in real deployment):
MONGO_URI=mongodb://localhost:27017/e_mailbox

# AWS Deployment (MongoDB Atlas):
# MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxx.mongodb.net/e_mailbox


# ==========================================
# 2. File Storage (Local, use to test instead of using real s3)
# ==========================================
UPLOAD_FOLDER=uploads


# ==========================================
# 3. AWS Learner Lab Credentials
# ==========================================
AWS_DEFAULT_REGION=us-east-1
# AWS_ACCESS_KEY_ID=ASIA...
# AWS_SECRET_ACCESS_KEY=...
# AWS_SESSION_TOKEN=...
